.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
}

.modal-container {
    height: 290px;
    width: 45%;
    position: relative;
    top: -60px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
}

.modal-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-head .checkMark {
    height: 8em;
    width: 4em;
    color: #43C467
}

.modal-head h2 {
    color: rgb(194, 228, 255);
    font-family: "Lato", sans-serif;
    font-size: clamp(.8rem, 2vw, 1.85rem);
    position: relative;
    top: 30px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.developText{
    color:rgb(194, 228, 255);
    font-weight: 500;
    text-align: center;
    font-size: clamp(.6rem,0.87vw,1.4rem);
    font-family: "Lato", sans-serif;
    position: relative;
    top: 60px;
    display: block;
    width: 530px;
}

.agreeText{
    color:rgb(194, 228, 255);
    font-weight: 500;
    text-align: center;
    font-size: clamp(.6rem,0.87vw,1.1rem);
    font-family: "Lato", sans-serif;
    position: relative;
    top: 90px;
    display: block;
    width: 530px;
}

.modal-body button{
    width: 130px;
    height: 30px;
    position: relative;
    top: 100px;
    font-size: large;
}
 