@import "../../index.css";

.success-container {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10000;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  font-family: inherit;
  background-color: rgba(110, 110, 110, 0.2);
}

.success-container .message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
  box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
  padding: 0.75rem;
}

.light-mode-background {
  color: #282C34;
  background-color: aliceblue;
}

.dark-mode-background {
  color: aliceblue;
  background-color: #282C34;
}

.success-container .message-box h2 {
  font-size: clamp(0.80rem, 2vw, 1.4rem);
  font-family: "Lato", sans-serif;
  /* color: #343047; */
}

.success-container .message-box pre {
  padding-block: 0.5em;
  font-size: clamp(0.60rem, 1.1vw, 1.1rem);
  text-align: center;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.success-container .message-box button {
  padding: 0.50em 1.4em;
  text-decoration: none;
  margin-top: 2rem;
  border: 1px solid var(--slate);
  border-radius: 4px;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: clamp(0.60rem, 1.1vw, 1.2rem);
  outline: none;
  color: #fcfcfc;
  font-weight: bold;
  width: 6rem;

}

.success-container .message-box button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #94b0da;
  box-shadow: 0px 15px 20px rgba(46, 104, 229, 0.4);
  color: var(--color-primary0);
  transform: translateY(-7px);
}

.success-container .message-box .xmark {
  height: 6em;
  width: 3em;
  color: #CD4D34
}

.success-container .message-box .checkmark {
  color: #43C467
}

.is-active {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
}

@media (min-width: 768px) {

  .success-container .message-box .xmark {
    height: 8em;
    width: 4em;
  }
}

@media (min-width: 900px) {
  .success-container .message-box {
    max-width: 450px;
    max-height: 80vh;
    padding-top: unset;
    padding-bottom: 2em;
    padding-inline: 1em;
  }

  .success-container .message-box button {
    width: 8rem;
  }

}