@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700&display=swap");

.login-form-container {
  /* height: 700px; */
  padding: 100px 0;
  display: flex;
  flex-direction: column;
}

/* logo */
.login-form-logo {
  height: 70px;
  width: 70px;

  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 auto 30px;
}
.login-form-logo-square {
  height: 35px;
  width: 35px;
  background-color: #302c2c;
  border-radius: 5px;
}

.Log-into-your{
  color:#888;
}
.login-form {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 400px;

  font-family: "Fira Sans", sans-serif;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  animation: pop-down 800ms ease-in-out;
  border: 1px solid crimson;
}
.log-form-header{
  padding-bottom: 20px;
}
.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.login-register-cta {
  margin-top: 20px;
  color: var(--color-primary);
}
.login-cta-text {
  cursor: pointer;
}
.login-form > div {
  background-color: white;
  padding: 5px;
  color: grey;
  width: 80%;
  max-width: 35rem;
  margin: 0 auto;
  border-radius: 5px;
}


.form-input > div:first-child {
  color: #aaa; /* Set the font color to #aaa */
}

.form-input input {
  border: 1px solid rgb(170, 170, 170) !important;
  background: transparent;
  color: #aaa;
  font-size: 14px
  
}
.login-form input[type="text"] {
  width: 90%;
  max-width: 20rem;
  height: 2rem;
  border: none;
  padding: 0 6px;
  font-size: 14px;
  margin-left: 8px;
  background-color: #302c2c !important;
  /* border: 2px solid crimson; */
}
input[type="password"] {
  font-family: Verdana;
  /* letter-spacing: 0.125em;
  font-size: 16px; */
}
.login-form button {
  margin: 0 auto;
}

.form-container {
  padding-bottom: 100px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  /* border: 2px solid red; */
}

.form-container a,
.form-container a:visited {
  color: white;
}

.log-form {
  /* border: 1px solid red; */
  width: 95%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border-radius: 5px;
  margin-top: 125px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-primary);
  background-color: #302c2c;
  color: white;
}

.form-input {
  text-align: left;
  width: 100%;
  max-width: 400px;
  padding: 10px 0px;
  font-weight: 700;
  letter-spacing: 1px;
}
.form-input-input { 
  width: 100%;
  text-align: left;
  
  padding-top: 2px ;
  padding-bottom: 12px ;
  font-family: "Fira Sans", sans-serif;
  border-radius: 3px;
  border: none;
  position: relative;
  display: inline-block;
}

.icon{
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-62%);
  cursor: pointer;
}

.form-input-title {
  color: #aaa;
  font-size: 16px;
}
.reg {
  display: flex;
  gap: 35px;
  justify-content: space-between;
}
.form-checkbox {
  width: 100%;
  max-width: 400px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 30px;
}

.form-checkbox span {
  cursor: pointer;
}

.forgot-password {
 margin-top: 5px;

}
.log-form button {
  width: 100%;
  max-width: 290px;
  padding: 15px 5px;
  margin-top: 20px;
}

.checkbox-unit {
  
  align-items: flex-start;
  gap: 5px;
}


INPUT[type=checkbox]:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

INPUT[type=checkbox] {
  background-color: rgb(40, 44, 52);
  border: 1px solid rgb(170, 170, 170);
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: relative;
  top: 5px;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 3px;
}

.light INPUT[type=checkbox] {
  background-color: #fff;
  border-color: #ccc;
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: relative;
  top: 5px;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 3px;
}

INPUT[type=checkbox]:checked {
  background-color: #409fd6;
  background: #409fd6 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}

.light INPUT[type=checkbox]:checked {
  background-color: #409fd6;
  background: #409fd6 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}


.span-unit {
  color:#888;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  
}





.log-form p {
  margin: 15px 0;
  max-width: 400px;
  letter-spacing: 1px;
}
.form-container img {
  padding: 10px;
  border-radius: 5px;
}

.form-error {
  color: wheat;

  padding: 5px 0px;
}
@keyframes pop-down {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.form-checkbox-register {
  width: 100%;
  max-width: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 30px;
  color: #aaa;
}
.btn-login2 {
  border: 1px solid grey;
  color: white;
  background-color: #946bde;
  padding:15px 25px;
  width: 100%;
  font-weight: 700;
  max-width: 400px !important;
  max-height: 4rem;
  font-size: 14px;
  font-family:  "Fira Sans", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  
}



/*.form-input input{
  width: 100%;
  text-align: left;
  padding-top: 2px ;
  padding-bottom: 12px ;
  font-family: "Fira Sans", sans-serif;
  border-radius: 3px;
  border: none;
  position: relative;
  display: inline-block;
}*/
