@import "../../index.css";

.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
}

.modalContainer {
    height: 330px;
    width: 25.5%;
    border-radius: 10px;
    background-color: rgb(32, 35, 42);
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .checkMark {
    height: 8em;
    width: 4em;
    color: #43C467
}

.header h2 {
    color: rgb(194, 228, 255);
    font-family: "Lato", sans-serif;
    font-size: clamp(.8rem, 2vw, 1.4rem);}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.body p{
    color: rgb(194, 228, 255);
    font-weight: 500;
    text-align: center;
    font-size: clamp(.6rem,1.1vw,1.1rem);
    font-family: "Lato", sans-serif;
    word-wrap: break-word}

.body button{
    border: 1px solid var(--slate);
    border-radius: 4px;
    background-color: #946bde;
    font-family: "Lato", sans-serif;
    font-size: clamp(0.50rem, 0.9vw, 1.2rem);
    outline: none;
    color: #fcfcfc;
    font-weight: bold;
    width: 8rem;
    line-height: 19px;
    cursor: pointer;
}

.body button:hover{
    transition: all 0.3s ease-in-out;
    background-color: #94b0da;
    box-shadow: 0px 15px 20px rgba(46, 104, 229, 0.4);
    color: var(--color-primary0);
    transform: translateY(-7px);
}