.main-container {
  padding: 5em 8.5em 5em 8.5em;
}

.title {
  font-size: 3.5em;
  color: black;
  text-align: start;
}

.sub-title {
  font-size: 0.85em;
  color: var(--color-text-alt);
  text-align: start;
  padding-left: 0.2em;
}

.effective-date {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: left;
}

.display-linebreake {
  white-space: pre-line;
}

.main-template {
  text-align: start;
}

.show-list-style {
  list-style-type: circle;
  margin-left: 1em;
}

.template-title {
  padding-bottom: 0.25em;
}