.cookies-container {
  background-color: rgb(40, 44, 52);
  padding: 5em 8.5em;
}

.cookies-title {
  color: #946bde;
  font-size: 2.5em;
}

.cookies-text {
  color: white;
}

.cookies-container,
.cookies-title {
  text-align: start;
}

.cookies-title,
.cookies-text {
  margin-bottom: 1em;
}
