.main-template {
  margin: 0px;
  padding: 5em 8.5em 5em 8.5em;
}

.title {
  font-size: 3em;
  color: black;
  text-align: start;
}

.main-template a {
  color: var(--color-primary1);

}

.main-template >h3 {
  margin: 1.0em 0px 0.5em 2em;

}
