.not-found-container {
  border: 2px solid #000;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: hidden;
  background-color: #F2EDE1;
}

@media screen and (max-width: 820px) {
  .not-found-image {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 820px) {
  .not-found-image {
    width: 50%;
    object-fit: cover;
  }
}
